<a class="rui-card">

  <div class="card-box" id="inputCard" ng-show="editing">
    <div class="card-box-text">
      <input type="text" ng-model="createinput" id="createinput" name="createinput" autofocus="true"></input>
    </div>
    <div class="create-container">
      <a ng-click="create()">Create</a>
    </div>
    <div class="cancel-container">
      <a ng-click="editing = !editing"><span class="ion-close-circled" style="font-size:12px;margin-right:2px;"></span>cancel</a>
    </div>
  </div>

  <div class="card-box" id="iconCard" ng-hide="editing" ng-click="editing = !editing">
    <div class="card-box-text">
      <div class="card-create-icon ion-plus"></div>
      <ng-transclude>
      </div>
  </div>

</a>
