// Shared
.card-box{
	height: 200px;
	color: $grey;
	float: left;
    width: 220px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-flex;
	align-items: center;
	text-align: center;
	border-color: $darkgrey $lightgrey $lightgrey $lightgrey ;
	border-width: 3px 1px 1px 1px ;
	border-style: solid;
	background-color: $white;
	border-radius: 2px;
	&:hover{
		cursor: pointer;
		color: $orange !important;
		border-color: $orange $lightgrey $lightgrey $lightgrey ;
		border-width: 3px 1px 1px 1px ;
	}
	.card-box-text{
		text-align: center;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 20px;
	}
}


// Display

// New


// Create
rui-card-create{
  & .card-box{
    float: left;
    display: block;
    border-width: 1px;
    border-radius: 2px;
    border-style: dashed;
    border-color: $grey;
    width:220px;
    height: 200px;
    color: $grey;
    margin-left: 20px;
    &:hover{
      color: $green;
      border-color: $green;
    }
  }
  & .card-box-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    width: 180px;
  }
  & .card-box:hover{
    color: $green !important;
    border-width: 1px 1px 1px 1px ;

  }
  & .card-create-icon{
    width: 60px;
  	height: 60px;
  	font-size: 50px;
  	margin: 10px auto;
  }
  & input{
    width: 180px;
    font-size: 24px;
    background: 0;
    border-bottom-color: $grey;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    text-align: center;
    color: $darkgrey;
  }
  // Animation

  .create-container{
    width: 220px;
    height: 40px;
    clear: both;
    text-align: center;
    font-size: 22px;
  }
  .cancel-container{
    width: 220px;
    height: 40px;
    clear: both;
    text-align: center;

  }

}
